.card{
    margin-bottom: 30px;
    position: relative;
    .card-body{
        .cover-card{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .post-head{
            margin-bottom: 15px;
            .badge{
                margin-bottom: 7px;
            }
        }
        .feeling{
            background-color: #f5f6fa;
            float: right;
            margin-left: 15px;
            font-size: 30px;
            padding: 10px;
            border-radius: 50%;
        }
        .description{
            float: right;
            h5{
                margin: 0;
                margin-bottom: 10px;
            }
        }
    }
    &.status{
        margin-top: 30px;
        .form-group{
            margin: 0;
            position: relative;
        }
        .feeling{
            font-size: 25px;
            text-align: center;
            width: 100%;
            .ask-radio-button-wrapper{
                > span{
                    label{
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        line-height: 39px;
                    }
                }
            }
        }
        textarea{
            background-color: lighten($secondary, 25%);
            resize: none;
            border: none;
            margin-bottom: 15px;
            border: 2px solid #fff;
            &:focus{
                background-color: $white;
            }
        }
    }

    &.profile{
        .feeling{
            font-size: 25px;
            text-align: center;
            width: 100%;
            background: none;
            border-radius: none;
            .ask-radio-button-wrapper{
                > span{
                    label{
                        padding: 0;
                        width: 40px;
                        height: 40px;
                        line-height: 39px;
                    }
                }
            }
        }
    }
}

.answers{
    margin-top: 1px;
    margin-bottom: 30px;
    .card{
        margin:0;
        margin-top: -1px;
        .card-body{
            padding: 10px;
        }
    }
}