.floating-label {
    position: relative;
    margin-bottom: 10px;
    label {
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        opacity: 0;
        transition: all 0.3s ease;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        z-index: -1;
        color: $primary;
        font-weight: bold;
    }
    input{
        text-align: right;
        background-color: lighten($secondary, 30%);
        height: 55px;
        &:disabled{
            color: $secondary;
            & + label{
                color: $secondary;
            }
        }
        &:not(:placeholder-shown) {
            padding: 30px 10px 10px;
            font-size: 14px;
        }
        &:not(:placeholder-shown) + label {
            transform: translateY(-12px);
            font-size: 14px;
            opacity: 1;
            z-index: 2;
        }
    }
}