
$primary:       #667eea !default;
$secondary:     #a0aec0 !default;
$success:       #48bb78 !default;
$info:          #4299e1 !default;
$warning:       #ecc94b !default;
$danger:        #f56565 !default;

$btn-border-radius: 25px !default;